<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.ssm.dao.DoctorMapper">

    <select id="findNameById" parameterType="java.lang.Long" resultType="java.lang.String">
        select name from doctor
        where doctor.id = #{id}
    </select>

    <select id="findDeptCodeById" parameterType="java.lang.Long" resultType="java.lang.String">
        select department_id from doctor
        where id = #{id}
    </select>

    <select id="findAll" resultType="Doctor">
        select * from doctor
    </select>

</mapper>