<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.ssm.dao.RegisterMapper">

    <insert id="add" parameterType="RegistrationInfo">
        <selectKey resultType ="java.lang.Long" keyProperty= "id" order= "AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into registration_info (medical_record_no, patient_name, gender, age, birthday, registration_category, medical_category, identity_card_no, family_address, registration_date, see_doctor_date, department_id, doctor_id, registration_source, settle_accounts_category, is_seen_doctor, status, expense)
        values (#{medical_record_no}, #{patient_name}, #{gender}, #{age}, #{birthday}, #{registration_category}, #{medical_category}, #{identity_card_no}, #{family_address}, #{registration_date}, #{see_doctor_date}, #{department_id}, #{doctor_id}, #{registration_source}, #{settle_accounts_category}, #{is_seen_doctor}, #{status}, #{expense})
    </insert>

    <select id="findAll" resultType="RegistrationInfo">
        select * from registration_info
    </select>

    <update id="backRegister" parameterType="java.lang.Long">
        update registration_info
        set status = "02"
        where id = #{id}
    </update>

    <select id="findById" parameterType="java.lang.Long" resultType="RegistrationInfo">
        select * from registration_info
        where id = #{id}
    </select>

    <select id="findByRecord" parameterType="java.lang.String" resultType="RegistrationInfo">
        select * from registration_info
        where medical_record_no = #{medical_record_no}
    </select>

    <select id="findByKey" parameterType="java.lang.String" resultType="RegistrationInfo">
        select * from registration_info
        where medical_record_no like #{keyword} or patient_name like #{keyword} or age like #{keyword} or identity_card_no like #{keyword}
    </select>

    <select id="findMaxRecord" resultType="java.lang.Long">
        select MAX(medical_record_no) from registration_info
    </select>

    <select id="alterAUTO">
        alter table registration_info  AUTO_INCREMENT = 1;
    </select>
    <select id="findByDaidoctorid" parameterType="integer" resultType="com.neusoft.ssm.bean.RegistrationInfo">
        select * from registration_info where doctor_id=#{doctorid} and is_seen_doctor="01" and status="01"
    </select>
    <select id="findByWeidoctorid" parameterType="integer" resultType="com.neusoft.ssm.bean.RegistrationInfo">
        select * from registration_info where doctor_id=#{doctorid} and is_seen_doctor="02" and status="01"
    </select>
    <select id="selectInfoByRecordno" resultType="com.neusoft.ssm.bean.RegistrationInfo">
        select * from registration_info where medical_record_no = #{recordno,jdbcType=VARCHAR}
    </select>


</mapper>