<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.ssm.dao.ScheduleResultMapper">

    <insert id="add" parameterType="ScheduleResult">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into schedule_result (date_time, doctor_id, register_level, noon_level, limit_num)
        values (#{date_time}, #{doctor_id}, #{register_level}, #{noon_level}, #{limit_num});
    </insert>

    <select id="findAll" resultType="ScheduleResult">
        select *
        from schedule_result
    </select>

    <select id="alterAUTO">
        alter table schedule_result
            AUTO_INCREMENT = 1;
    </select>

    <delete id="deleteByDate" parameterType="Date">
        delete
        from schedule_result
        where date_time = #{date_time}
    </delete>

</mapper>